@model ContactsApplication.Models.ContactViewModel

@{
    ViewBag.Title = "Details Contact Information";
}

<div>
    <div class="form-subdiv">
            <table class="form-table">
                <tr>
                    <td colspan=" 2" class="form-header">
                        <h2>Contact Information</h2>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">
                        @Html.DisplayNameFor(model=>model.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FirstName)
                    </td>
                </tr>              
                <tr>
                    <td class="form-label">
                        @Html.DisplayNameFor(model => model.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.LastName)
                    </td>
                </tr>             
                <tr>
                    <td class="form-label">
                        @Html.DisplayNameFor(model => model.EmailID)
                    </td>
                    <td>
                       @Html.DisplayFor(model => model.EmailID)
                    </td>
                </tr>               
                <tr>
                    <td class="form-label">
                        @Html.DisplayNameFor(model => model.MobileNumber)
                    </td>
                    <td>
                      @Html.DisplayFor(model => model.MobileNumber)
                    </td>
                </tr>               
                <tr>
                    <td class="form-label">
                        @Html.DisplayNameFor(model => model.Status)
                    </td>
                    <td>
                       @Html.DisplayFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ContactID })&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Back to List", "Index")
                    </td>
                </tr>

            </table>
    </div>
</div>

 
 @*@Styles.Render("~/Content/css")*@

<style>
    body {
        background-color: #d7bde2;
    }

    .form-control {
        height: 25px;
        width: 300px;
        font-size: 12pt;
    }

    .form-label {
        width: 35%;
        font-size: 11pt;
        text-align: right;
        padding-right: 4%;
        line-height: 45px;
    }

    .form-table {
        width: 100%;
    }

    .form-header {
        text-align: center;
        border-bottom: 3px solid green;
    }

    .form-subdiv {
        background-color: white;
        border-radius: 15px;
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 600px;
        height: 460px;
        margin: auto;
    }

    .form-btnCreate {
        width: 200px;
        height: 35px;
        background-color: green;
        font-size: 12pt;
        border: 1px solid gray;
        border-radius: 7px;
    }
</style>