@model ContactsApplication.Models.ContactViewModel

@{
    ViewBag.Title = "Edit Contact information";
}

<div>

    <div class="form-subdiv">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <table class="form-table">
                <tr>
                    <td colspan=" 2" class="form-header">
                        <h2>Edit Contact Information</h2>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">
                        @Html.LabelFor(model => model.FirstName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.HiddenFor(model=>model.ContactID)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        @Html.LabelFor(model => model.LastName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.LastName)
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        @Html.LabelFor(model => model.EmailID)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.EmailID)
                    </td>
                </tr>
                <tr>
                    <td class="form-label">
                        @Html.LabelFor(model => model.MobileNumber)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.MobileNumber)
                    </td>
                </tr>
                <tr>
                    <td class="form-label">
                        @Html.LabelFor(model => model.Status)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Update" class="form-btnCreate" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Back to List", "Index")
                    </td>
                </tr>

            </table>
        }
    </div>
</div>

@*Style and js files include using bundling*@
@*@Styles.Render("~/Content/css")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/_references.js"></script>
<script src="~/Scripts/jquery-1.8.2.intellisense.js"></script>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>

<style>
    
body {
    background-color: #d7bde2;
}

.form-control {
    height: 25px;
    width: 300px;
    font-size: 12pt;
}

.form-label {
    width: 35%;
    font-size: 11pt;
    text-align: right;
    padding-right: 4%;
    line-height: 45px;
}

.form-table {
    width: 100%;
}

.form-header {
    text-align: center;
    border-bottom: 3px solid green;
}

.form-subdiv {
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 460px;
    margin: auto;
}

.form-btnCreate {
    width: 200px;
    height: 35px;
    background-color: green;
    font-size: 12pt;
    border: 1px solid gray;
    border-radius: 7px;
}

</style>